ul li:hover::after{
    content: "";
    display:block; 
    height: 10px;
    background: #e9696a;
    margin-top: 10px;
}
a{
  text-decoration: none;  
}
body{
    background-image: url("bg.png");
    background-size: cover;
}
.Nav-bar {
    display: flex;
    height: 80px;
    width: 100vw;
    list-style: none;
    padding-top: 22px;
    position:sticky;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.315);
}
.Nav-bar nav ul{
   position: static;
    display: flex;
    margin-left:250px;
    margin-top: -45px;
    list-style: none;
    font-size: 30px;
    font-family: calibri;
    font-weight: 900;
    
    color: rgb(255, 255, 255);
}

#Menu{
    display:none;
}

a{
    color: white;
}

li{
    margin-left: 30px;
}

h1{
    color: rgb(251, 125, 126);
    font-family:'Times New Roman';
}

h2{
    color: rgb(251, 125, 126);
    font-family:'Times New Roman', Times;
    font-weight: normal;
}

span{
    color:rgb(255, 208, 0);
    font-family:Arial;
}

.About{
    position:absolute;
    margin-top: 100px;
    backdrop-filter: blur(80px);
    border-radius: 18px;
    border-width: 3px;
    box-shadow: 0px 0px  30px rgba(255, 208, 0, 0.822);
    
}




.About img{
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top:-35px;
    margin-left: 820px;
    border-radius: 100%;
}
.Icons{
    position: absolute;
    height:60px;
    width: 200px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    margin-top: 400px;
    margin-left: 100px;
}
.Icons img{
    height: 30px;
    width: 30px;
    opacity: 85%;
    border-radius: 100%;
    margin-left: 15px;
    margin-top: 10px;
    border-width: 30px;
    border-color: rgb(255, 0, 0);
}

.btn{
    position: absolute;
    margin-top: 300px;
    margin-left: 880px;
    border-radius: 30px;
    border-width: 2px;
    font-weight: 500;
    color: white;
    font-size: 20px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.966);
    height: 50px;
    width: 200px;
    opacity: 80%;
}

footer{
    margin-top: 100vw;
    margin-right: 900px;
    position:absolute;
    color: rgb(248, 244, 244);
    font-family:'Times New Roman';
    font-size: 8px;
    margin-left: 10px;
}

    button:hover{
    box-shadow: 0px 0px  30px rgb(255, 255, 255) ; 
    }

    .Icons img:hover{
        opacity: 100%;
        box-shadow: 0px 05px 030px  20px rgb(255, 208, 0) ;   
    }





@media(max-width: 700px){

    .About img{
        position: relative;
        height: 200px;
        width: 200px;
        margin-top: -20px;
        margin-left: 150px;;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 20px;;
    }

    .Icons{
        margin-left: 150px;
        margin-top: 560px;
    }

    .Nav-bar img{
        width: 200px;
    }

    .Nav-bar nav ul{
         display: flex;
         flex-direction: row;
         margin-left:25px;
         margin-top: 0px;
         font-size: 17px;
         font-weight: 700;
     }

     ul li:hover::after{
        height: 3px;
        margin-top: 8px;
    }

    .btn{
        margin-top: 200px;
        margin-left: 150px;
        border-radius: 20px;
        font-size: 15px;
        height: 50px;
        width: 200px;
    
    }
    
    .About{
        margin-left: 10px;;
    }

  }






    
